Repository batistagroup/DirectMultiStep: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff (linter)
  entry: ruff check --fix
  language: python

ruff-format:
  name: ruff (formatter)
  entry: ruff format
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

dev: don't even import it
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format

dev: yet another fix and dont run CI on pushes to non-master
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  src/directmultistep/__init__.py
Due: ruff, ruff-format, mypy

dev: fix indentation for last test
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format

dev: that's it folks, sonnet 4.5
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

dev: infer dtypes for fp16
  scripts/run-beam.py
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

feat: well one eternity later, is it working
  scripts/run-beam.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

clean up
  BATCHED_BEAM_SEARCH.md
  IMPLEMENTATION_SUMMARY.md
  pyproject.toml
  scripts/dev/run-beam.py
  scripts/save-data-for-tests.py
  tests/generation/test_batched_beam_search.py
  tests/generation/test_batched_beam_search_summary.md
  tests/generation/test_beam_search.py
Due: ruff, ruff-format, mypy

rename for clarity
  src/directmultistep/__init__.py
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

respond to rabbit's comments
  .github/workflows/testing.yml
  docs/batched-generation.md
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

remove unused code
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

feat: support for batched generation (#21)
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .gitignore
  .pre-commit-config.yaml
  docs/batched-generation.md
  examples/batched_generation_example.py
  pyproject.toml
  scripts/dev/run-beam.py
  src/directmultistep/__init__.py
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  src/directmultistep/model/factory.py
  tests/generation/conftest.py
  tests/generation/test_batched_beam_search.py
  tests/generation/test_beam_search.py
  uv.lock
Due: ruff, ruff-format, mypy

docs: add cross-reference to RetroCast
  README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(tests/)
