Repository batistagroup/DirectMultiStep: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff (linter)
  entry: ruff check --fix
  language: python

ruff-format:
  name: ruff (formatter)
  entry: ruff format
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

simplify function apis
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

DEV: reorganize dep groups
  pyproject.toml
  uv.lock
Due: none

STYLE: bump ruff version, add extra linting rules
  data/process.py
  pyproject.toml
  scripts/solve_compounds.py
  src/directmultistep/analysis/paper/linear_vs_convergent.py
  src/directmultistep/analysis/training.py
  src/directmultistep/generation/eval.py
  src/directmultistep/generation/generation.py
  src/directmultistep/generation/tensor_gen.py
  src/directmultistep/model/components/moe.py
  src/directmultistep/model/config.py
  src/directmultistep/model/factory.py
  src/directmultistep/training/lightning.py
  src/directmultistep/utils/io.py
  src/directmultistep/utils/post_process.py
  use-examples/eval-subset.py
  use-examples/paper-figures.py
Due: ruff, ruff-format, mypy

DEV: drop pandas as explicit dependency
  pyproject.toml
  src/directmultistep/analysis/training.py
Due: ruff, ruff-format, mypy

git: return lock
  uv.lock
Due: none

git: update linting action to drop isort, separate testing workflow
  .github/workflows/linting.yml
  .github/workflows/testing.yml
Due: none

restore prv lock
  src/directmultistep/training/lightning.py
  uv.lock
Due: ruff, ruff-format, mypy

git: use sync for dep management
  .github/workflows/linting.yml
  .github/workflows/testing.yml
Due: none

move dev to dep group in pyproj
  pyproject.toml
  uv.lock
Due: none

add build system to pyproject
  pyproject.toml
  uv.lock
Due: none

patch: replace strict with True for all zips
  src/directmultistep/analysis/paper/linear_vs_convergent.py
  src/directmultistep/utils/io.py
  src/directmultistep/utils/post_process.py
  use-examples/paper-figures.py
Due: ruff, ruff-format, mypy

maintenance: relax & organize dependencies, simplify function signatures (#19)
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  data/process.py
  pyproject.toml
  scripts/solve_compounds.py
  src/directmultistep/analysis/paper/linear_vs_convergent.py
  src/directmultistep/analysis/training.py
  src/directmultistep/generate.py
  src/directmultistep/generation/eval.py
  src/directmultistep/generation/generation.py
  src/directmultistep/generation/tensor_gen.py
  src/directmultistep/model/components/moe.py
  src/directmultistep/model/config.py
  src/directmultistep/model/default_configs/__init__.py
  src/directmultistep/model/factory.py
  src/directmultistep/training/lightning.py
  src/directmultistep/utils/io.py
  src/directmultistep/utils/post_process.py
  use-examples/eval-subset.py
  use-examples/paper-figures.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: update version to 1.1.3
  pyproject.toml
Due: none

tests: test beam search results
  .gitignore
  scripts/demo_test_data_usage.py
  scripts/save-data-for-tests.py
  tests/generation/conftest.py
  tests/generation/test_beam_search.py
  uv.lock
Due: ruff, ruff-format, mypy

dev: resolve lint issues
  .pre-commit-config.yaml
  scripts/demo_test_data_usage.py
  scripts/save-data-for-tests.py
  tests/generation/test_beam_search.py
Due: ruff, ruff-format, mypy

dev: develop batched beam
  scripts/run-beam.py
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: seems to be working somewhat
  BATCHED_BEAM_SEARCH.md
  IMPLEMENTATION_SUMMARY.md
  b-1-routes.txt
  b-2-routes.txt
  docs/batched-generation.md
  examples/batched_generation_example.py
  pyproject.toml
  scripts/run-beam.py
  src/directmultistep/__init__.py
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
  tests/generation/test_batched_beam_search_summary.md
Due: ruff, ruff-format, mypy

dev: now def seems to work
  b-1-routes.txt
  examples/batched_generation_example.py
  scripts/run-beam.py
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: harder beam script
  b-1-routes.txt
  b-2-routes.txt
  scripts/run-beam.py
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

dev: pad the noSM inputs
  src/directmultistep/generate.py
Due: ruff, ruff-format, mypy

tests: add pharma based test
  scripts/run-beam.py
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: upd run script
  scripts/run-beam.py
  src/directmultistep/generate.py
Due: ruff, ruff-format, mypy

dev: patch the colection of non-batched
  scripts/run-beam.py
  src/directmultistep/model/factory.py
Due: ruff, ruff-format, mypy

dev: expose both copies vec and nonvec
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: add vec nonvec comparison test
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format

dev: try s4.5
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

dev: tr2
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

tests: more vec non vec tests
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

patch test
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format

patch more tests
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format

dev: switch to vectorized
  src/directmultistep/generate.py
Due: ruff, ruff-format, mypy

dev: parity achieved LMAO
  src/directmultistep/generate.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: upd script
  scripts/run-beam.py
Due: ruff, ruff-format, mypy

dev: higher beam for last test
  scripts/run-beam.py
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: remove the slow one
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format

dev: add b50 test
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: make sure the reusable tensors are re-initialized
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

dev: try v2
  src/directmultistep/generation/tensor_gen.py
Due: ruff, ruff-format, mypy

dev: drop old batch and clean tests
  src/directmultistep/generation/tensor_gen.py
  tests/generation/test_batched_beam_search.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(tests/)
